<%= form_tag(controller: "search", action: "index") do %>
  <br/>

  <%= label_tag(:search_field, "Search for:") %>
  <%= text_field_tag(:search_field) %>
  <%= submit_tag("Search") %>

  <br/>
  <br/>

  <h5><strong>Metadata Results:</strong></h5>

    <% @index.each do |e| %>
        <br/>
      <%= "<strong>UUID:</strong> #{e.uuid}".html_safe %>
        <br/>
      <%= "<strong>Title:</strong> #{e.title}".html_safe %>
        <br/>
      <%= "<strong>Abstract:</strong> <justified>#{e.abstract}".html_safe %>
        <br/>
      <%= "<strong>Keywords:</strong> #{e.keywords}".html_safe %>
        <br/>
    <% end %>
<% end %>
