<div class='row'>

  <div class='col-md-3'>
    <%= form_tag({controller: 'search', action: 'index'}) do %>
      <div class='input-group input-group-sm'>
        <%= text_field_tag(:search_field, '',class: 'form-control' ) %>
        <span class='input-group-btn'>
          <%= button_tag('Buscar', class: 'btn btn-default', type: 'submit') %>
        </span>
      </div> <!--input-group-->
    <% end %>
  </div>

  <div class='col-md-9'>
    <%= paginate @index %>

    <% @index.each do |e| %>
      <div class='media-body'>
        <a class='media-heading' href='#'><%= e.titles %></a>
        <p><%= e.uuid %></p>
        <p><%= e.abstract %></p>
        <p><%= e.keywords.join(', ') %></p>
      </div>
    <% end %>

    <%= paginate @index %>
  </div>

</div>
