<div class="row">
  <div class="col-sm-3">
    <%= render 'sidebar' %>
  </div>
  <div class="col-sm-9">
    <center><%= paginate @metadata_records %></center>
    <% @metadata_records.each do |metadata_record| %>
      <div class="well well-lg">
        <div class="btn btn-primary btn-rdf"><%= link_to "Gerar RDF",
                        metadata_rdf_path(metadata_record.metametadata.uuid) %></div>
        <h4><%= link_to metadata_record.identification.title,
                        metadata_path(metadata_record.metametadata.uuid) %></h4>
        <p><%= metadata_record.identification.abstract %></p>
        <% metadata_record.identification.keywords.each do |keyword| %>
          <span class="label label-default">
            <%= keyword %>
          </span>
        <% end %>
      </div>
    <% end %>
    <center><%= paginate @metadata_records %></center>
  </div>
</div>
