<div class='row'>

  <div class='col-md-3'>
    <%= form_for root_path, method: :get do %>
      <div class='input-group input-group-sm'>
        <%= text_field_tag(:search, '',class: 'form-control' ) %>
        <span class='input-group-btn'>
          <%= button_tag('Buscar', class: 'btn btn-default', type: 'submit') %>
        </span>
      </div> <!--input-group-->
    <% end %>
  </div>

  <div class='col-md-9'>
    <%= paginate @metadata_records %>
    <% @metadata_records.each do |metadata_record| %>
      <div>
        <%= link_to metadata_record.title, metadata_path(metadata_record.uuid) %>
        <p><%= metadata_record.uuid %></p>
        <p><%= metadata_record.abstract %></p>
        <p><%= metadata_record.keywords.join(', ') %></p>
      </div>
    <% end %>
    <%= paginate @metadata_records %>
  </div>
</div>
