<div class="row">
  <%= render 'sidebar' %>

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">

    <% unless @metadata_record[0] %>

      <h4>Não foi possível carregar o metadado</h4>

    <% else %>

      <div class="page-header">
      <h4><%= @metadata_record[0].identification.title %></h4>
      </div>
      <% @metadata_record[0].identification.keywords.each do |keyword| %>
        <span class="label label-default">
          <%= keyword %>
        </span>
      <% end %>
      <br/><br/>

      <dl class="dl-horizontal dt-left">
        <% @metadata_record[0].identification.dates.each do |date| %>
          <dt>Datas</dt> <dd><%= date %></dd>
        <% end %>
        <dt>Status</dt> <dd><%= @metadata_record[0].identification.status %></dd>
        <dt>Créditos</dt>
        <% @metadata_record[0].identification.credits.each do |credit| %>
          <dd><%= credit %></dd>
        <% end %>
        <dt>Resumo</dt> <dd><%= @metadata_record[0].identification.abstract %></dd>
      </dl>

      <h4>Ponto(s) de contato</h4>
      <% @metadata_record[0].points_of_contact.each do | point_of_contact | %>
        <dl>
          <dt><%= point_of_contact.organization %></dt>
          <dd><small><%= point_of_contact.name %> (Cargo:  <%= point_of_contact.role %>)</small></dd>
          <dd><%= point_of_contact.address %></dd>
          <dd><%= point_of_contact.city %>, <%= point_of_contact.country %></dd>
          <dd><%= point_of_contact.zipcode %></dd>
          <dd><abbr title="Telefone">Tel: </abbr><%= point_of_contact.phone %></dd>
          <dd><%= point_of_contact.email %></dd>
        </dl>
      <% end %>

      <h4>Qualidade dos dados</h4>
      <dl class="dl-horizontal dt-left dt-large">
        <dt>Nível hierárquico</dt> <dd><%= @metadata_record[0].quality.scope %></dd>
        <dt>Declaração</dt> <dd><%= @metadata_record[0].quality.statement %></dd>
        <dt>Frequência de manutenção/atualização</dt> <dd><%= @metadata_record[0].quality.maintainance %></dd>
      </dl>

      <h4>Metadado</h4>
      <dl class="dl-horizontal dt-left dt-large">
        <dt>Identificador</dt><dd><%= @metadata_record[0].metametadata.uuid %></dd>
        <% @metadata_record[0].metametadata.languages.each do |language| %>
          <dt>Idiomas</dt><dd><%= language %></dd>
        <% end %>
        <% @metadata_record[0].metametadata.character_sets.each do |character_set| %>
          <dt>Codificação de caracteres</dt><dd><%= character_set %></dd>
        <% end %>
        <dt>Norma e perfil de metadados</dt><dd><%= @metadata_record[0].metametadata.standard_name %></dd>
        <dt>Versão da norma de metadados<dt><dd><%= @metadata_record[0].metametadata.standard_version %></dd>
      </dl>

      <h4>Autor(es)</h4>
      <% @metadata_record[0].authors.each do |author| %>
        <dl>
          <dt><%= author.organization %></dt>
          <dd><small><%= author.name %> (Cargo: <%= author.role %>)</small></dd>
          <dd><%= author.address %></dd>
          <dd><%= author.city %>, <%= author.country %></dd>
          <dd><%= author.zipcode %></dd>
          <dd><abbr title="Telefone">Tel: </abbr><%= author.phone %></dd>
          <dd><%= author.email %></dd>
        </dl>
      <% end %>

    <% end %>

  </div>
</div>
