
<div class="page-header">
<h4><%= @metadata_record[0].title %></h4>
</div>
<% @metadata_record[0].keywords.each do |keyword| %>
  <span class="label label-default">
    <%= keyword %>
  </span>
<% end %>
<br/><br/>

<dl class="dl-horizontal dt-left">
  <dt>Data</dt> <dd><%= @metadata_record[0].date %></dd>
  <dt>Status</dt> <dd><%= @metadata_record[0].status %></dd>
  <dt>Créditos</dt> <dd><%= @metadata_record[0].credits %></dd>
  <dt>Resumo</dt> <dd><%= @metadata_record[0].abstract %></dd>
</dl>
<h4>Ponto de contato</h4>
<dl>
  <dt><%= @metadata_record[0].points_of_contact.organization %></dt>
  <dd><small><%= @metadata_record[0].points_of_contact.name %> (<%= @metadata_record[0].points_of_contact.role %>)</small></dd>
  <dd><%= @metadata_record[0].points_of_contact.address %></dd>
  <dd><%= @metadata_record[0].points_of_contact.city %>, <%= @metadata_record[0].points_of_contact.country %></dd>
  <dd><%= @metadata_record[0].points_of_contact.zipcode %></dd>
  <dd><abbr title="Telefone">Tel: </abbr><%= @metadata_record[0].points_of_contact.phone %></dd>
  <dd><%= @metadata_record[0].points_of_contact.email %></dd>
</dl>
<h4>Qualidade dos dados</h4>
<dl class="dl-horizontal dt-left dt-large">
  <dt>Nível hierárquico</dt> <dd><%= @metadata_record[0].scope %></dd>
  <dt>Declaração</dt> <dd><%= @metadata_record[0].statement %></dd>
  <dt>Frequência de manutenção/atualização</dt> <dd><%= @metadata_record[0].maintainance %></dd>
</dl>
<h4>Metadado</h4>
<dl class="dl-horizontal dt-left dt-large">
  <dt>Identificador</dt><dd><%= @metadata_record[0].uuid %></dd>
  <dt>Idioma</dt><dd><%= @metadata_record[0].language %></dd>
  <dt>Codificação de caracteres</dt><dd><%= @metadata_record[0].character_set %></dd>
  <dt>Norma e perfil de metadados</dt><dd><%= @metadata_record[0].standard_name %></dd>
  <dt>Versão da norma de metadados<dt><dd><%= @metadata_record[0].standard_version %></dd>
</dl>
<h4>Autor</h4>
<dl>
  <dt><%= @metadata_record[0].authors.organization %></dt>
  <dd><small><%= @metadata_record[0].authors.name %> (<%= @metadata_record[0].authors.role %>)</small></dd>
  <dd><%= @metadata_record[0].authors.address %></dd>
  <dd><%= @metadata_record[0].authors.city %>, <%= @metadata_record[0].authors.country %></dd>
  <dd><%= @metadata_record[0].authors.zipcode %></dd>
  <dd><abbr title="Telefone">Tel: </abbr><%= @metadata_record[0].authors.phone %></dd>
  <dd><%= @metadata_record[0].authors.email %></dd>
</dl>
