<!DOCTYPE html>
<html>
  <head>
    <title>Copernico</title>
    <%= stylesheet_link_tag :application %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid main">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
    </div><!--/.container-->

  </body>
</html>
